<div class="content" *ngIf="model">
  <div class="breadcrumb breadcrumb--light clearfix">
    <app-breadcrumb [first]="true"><a [routerLink]="UrlConstants.buildUrl(UrlConstants.HOME)" class="breadcrumb__links">Pradžia</a></app-breadcrumb>
    <app-breadcrumb><a [routerLink]="UrlConstants.buildUrl(UrlConstants.FLOWERS)" class="breadcrumb__links">Gėlės</a></app-breadcrumb>
    <app-breadcrumb>{{model.title}}</app-breadcrumb>
  </div>

  <div class="flower_view clearfix">
    <div class="block__bg">
      <div class="block__bg__image" [style]="'background: url(' + coverImage + ') no-repeat center top / cover;'"></div>
    </div>

    <div class="block block--tight clearfix">
      <div class="block__hero">
        <img [src]="coverImage" [alt]="'Paveikslėlis nerastas'">

        <div class="block__hero__text">
          <h1>{{model.title}}</h1>
          <span class="label me-2 mb-2">Spalva: {{ColorNames[model.baseColor]}}</span>
          <span class="label me-2 mb-2">Puokštė: {{model.bouquet ? "taip" : "ne"}}</span>
        </div>
      </div>
    </div>
    <div class="aside">
      <div class="aside__body">
        <form ngForm>
          <mat-input-counter
            [_value]="quantity"
            (change)="increaseQuantity($event)"
            [min]="1"
            [max]="10"
            [step]="1"
            [label]="'Kiekis'">
          </mat-input-counter>
          <h3>Kaina:</h3>
          <h3 class="group-label">{{quantity}} X {{model.price | currency}} = {{quantity * model.price | currency}}</h3>
          <div class="aside__body aside__body--bottom">
            <app-button (btnClick)="startOrder()" btnClass="btn btn--primary btn--big w-100">Pradėti užsakymą</app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
