@import "node_modules/bootstrap/scss/bootstrap-utilities";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";

@import "poppins-font";
@import "material-overrides";
@import "custom";
@import "config";
@import "normalize.css";
@import "reset.css";
@import "typografy";

body,
html {
  height: 100%;
}
body {
  color: $text-color;
  font: 16px/1.3 $primary-font;
  background: $zircon;
}
.wrapper {
  height: 1px;
  min-height: 100%;
  flex-flow: column nowrap;
  display: flex;
}
.content {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.breadcrumb {
  margin: 0 0 16px 0;
  &__items {
    font: 12px/1.2 $primary-font;
    margin: 0 0 10px 0;
  }
  &__links {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--light {
    color: $elements-color;
    margin: 0 0 10px 0;
  }
  &--light &__links {
    color: $elements-color;
  }
}

.flex-body {
  display: flex;
  flex-direction: column;
  height: 100%;

  .flex-content {
    flex-grow: 1;
  }
}

.site-logo {
  color: $white;
  text-decoration: none;

  img {
    max-width: 40px;
    max-height: 40px;
  }

  &:hover, &.active {
    color: $white;
    text-decoration: none;
  }
}

.header {
  background: $deco-color;
  padding: 16px 40px;
  position: relative;
  align-items: center;
  display: flex;
  flex: none;
  color: $white;
}

header.header-with-links {
  margin-bottom: 56px;

  @media (max-width: $tablet-max) {
    margin-bottom: 0;
  }
}

.nav {
  &_main {
    margin: 0 0 0 auto;
    &__items {
      margin: 0 0 0 24px;
      display: inline-flex;

      * {
        color: $white;
      }
    }
    &__links {
      color: $deco-color;
      text-decoration: none;
      font: 14px/1.2 $primary-font;
      border: 1px solid transparent;
      padding: 13px 0;
      display: inline-block;
      &--drop {
        border-color: $brandy;
        border-radius: 22px;
        padding-left: 32px;
        padding-right: 32px;
        position: relative;

        span.fa-chevron-down {
          transition: $primary-transition;
        }

        &.active span.fa-chevron-down {
          transform: rotate(180deg);
        }
      }
      &:hover {
        text-decoration: underline;
      }
      &__notification {
        width: 13px;
        height: 13px;
        color: #fff;
        font: 8px/13px Poppins, sans-serif;
        text-align: center;
        background: #ff5c59;
        border-radius: 50%;
        position: absolute;
        bottom: 7px;
        right: -3px;
      }
      .nav_sub__icon {
        font-size: 23px;
        vertical-align: -2px;
        padding-right: 10px;
      }
    }
    &__drop {
      width: 100%;
      max-width: 622px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      background: $elements-color;
      transition: all $primary-transition;
      filter: drop-shadow(0 12px 12px rgba(58, 90, 169, .1));
      border-radius: 0 0 0 8px;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      &.open {
        opacity: 1;
        visibility: visible;
      }
      &__items {
        padding: 18px;
        h3 {
          font: 600 18px/1.2 $primary-font;
          padding: 0 0 16px 0;
        }
        p {
          font: 14px/1.2 $primary-font;
          padding: 0 0 15px 0;
        }
        .btn {
          margin: 6px;
        }
      }
      & &__bottom {
        font-size: 12px;
        border-top: 1px solid $whisper;
        padding: 18px 0 0 0;
        margin: 18px -18px 0 -18px;
        .link {
          color: $deco-color;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__txt {
      display: block;
      &--title {
        color: $deco-color;
        font: 600 14px/1.2 $primary-font;
        padding: 0 0 5px 0;
      }
      &--name {
        font: 500 12px/1.2 $primary-font;
        padding: 0 0 5px 0;
      }
      &--provider {
        color: darken($color: $dusty-gray, $amount: 20%);
        font: 12px/1.2 $primary-font;
      }
    }

    .nav_sub {
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      padding: 5px 15px;
      background: $elements-color;
      box-shadow: 0 12px 24px rgba(58, 90, 169, .1);
      border-top: 1px solid rgba($color: $deco-color, $alpha: .1);

      ul {
        max-width: 1166px;
        margin: 0 auto;
        padding: 5px 15px;
        display: flex;
        justify-content: center;
      }

      .nav_sub__items {
        display: inline-flex;
      }

      .nav_sub__links {
        color: $deco-color;
        text-decoration: none;
        font: 14px/1.2 $primary-font;
        border: 1px solid transparent;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 20px;

        &:hover, &.active {
          background: $whisper;
        }

        .nav_sub__icon {
          font-size: 23px;
          vertical-align: -2px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-group-mobile {
    display: flex !important;
    flex-direction: column;
    width: 100%;

    .btn {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    app-button {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .reverse-mobile {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .hide-mobile {
    display: none!important;
  }
}

.body {
  padding: 26px 0 50px 0;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
}

.footer {
  font: 14px/1.2 $primary-font;
  background: $deco-color;
  box-shadow: 0 -12px 24px rgba(58, 90, 169, .1);
  flex: none;
  &__body {
    padding: 50px 25px 30px 25px;
    display: flex;
    flex-flow: row wrap;
  }
  &__col {
    padding: 0 15px;
    h3 {
      color: $elements-color;
      font: 600 14px/1.2 $primary-font;
      padding: 0 0 28px 0;
    }

    &--info {
      margin-right: auto;
    }
  }
  &__items {
    padding: 0 0 28px 0;
  }
  &__icons {
    color: $elements-color;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    color: $elements-color;
    text-decoration: none;
  }
  &__links {
    color: $elements-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__nav {
    text-align: center;
    background: $gargoyle-gas;
    padding: 0 40px;
    &__items {
      display: inline-block;
      &:first-child {
        &:before {
          display: none;
        }
      }
      &:before {
        width: 4px;
        height: 4px;
        content: "";
        vertical-align: middle;
        background: $deco-color;
        border-radius: 50%;
        margin: 0 24px;
        display: inline-block;
      }
    }
    &__links {
      color: $deco-color;
      text-decoration: none;
      padding: 18px 0;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__copy {
    color: $elements-color;
    text-align: center;
    background: $deco-color;
    padding: 18px 40px;
  }
}

.btn {
  font: 500 14px/1.2 $primary-font;
  text-decoration: none;
  transition: all $primary-transition;
  border: 1px solid $deco-color;
  border-radius: 25px;
  padding: 9px 25px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  &--primary {
    color: $elements-color;
    background: $deco-color;
    &:hover {
      color: $elements-color;
      background: lighten($color: $deco-color, $amount: 15%);
    }
  }
  &--secondary {
    color: $deco-color;
    background: $elements-color;
    &:hover {
      color: $elements-color;
      background: lighten($color: $deco-color, $amount: 15%);
    }
  }
  &--danger {
    color: $persimmon;
    border: 1px solid $persimmon;
    background: $elements-color;
    &:hover {
      color: $elements-color;
      background: lighten($color: $persimmon, $amount: 15%);
      border-color: lighten($color: $persimmon, $amount: 15%);
    }
  }
  &--regular {
    color: $text-color;
    font-weight: 400;
    background: $gallery;
    border-color: $gallery;
    &:hover {
      background: darken($color: $gallery, $amount: 10%);
      border-color: darken($color: $gallery, $amount: 10%);
    }
  }
  &--half {
    width: calc(50% - 10px);
  }
  &--transparent {
    background: transparent;
    border-color: transparent;
  }
  &--big {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.form {
  margin: 0 -15px;
  clear: both;
  &__items {
    width: 100%;
    margin: 0 15px 25px 15px;
    float: left;
    i,
    .material-icons {
      vertical-align: middle;
    }
    .info {
      color: $deco-color;
      cursor: pointer;
    }
    .warning {
      color: $fire-bush;
    }
  }

  &__warning {
    color: $fire-bush;
  }

  &__hold {
    position: relative;
    align-items: center;
    display: flex;
    & + & {
      padding-top: 15px;
    }
  }
  &__info {
    color: $dusty-gray;
    font: 12px/1.2 $primary-font;
    display: block;

    span.far {
      font-size: 18px;
    }
  }
  &__link {
    font: 12px/1.2 $primary-font;
  }
  &__counter {
    color: $dusty-gray;
    font: 10px/1.2 $primary-font;
    text-align: right;
    padding: 6px 10px 0 0;
    display: block;
  }
  &__prefix {
    font: 14px/1.2 $primary-font;
    transform: translate(100%, -50%);
    padding: 0 0 0 8px;
    position: absolute;
    top: 50%;
    right: 0;
  }
  &__block {
    margin: 0 0 16px 0;
    &__top {
      min-height: 46px;
      font: 14px/1.2 $primary-font;
      background: $gallery;
      border: 1px solid $gallery;
      border-radius: 8px 8px 0 0;
      padding: 8px 12px 8px 16px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      &__remove {
        color: $text-color;
        margin: 0 0 0 15px;
      }
    }
    &__body {
      border: 1px solid $gallery;
      border-radius: 0 0 8px 8px;
      padding: 25px 16px 0 16px;
    }
  }
}

.block {
  background: $elements-color;
  box-shadow: 0 12px 24px rgba(58, 90, 169, .1);
  border-radius: 8px;
  padding: 32px;
  margin: 0 0 30px 0;
  overflow-x: auto;

  &__hero {
    color: $elements-color;
    box-shadow: 0 12px 24px rgba(58, 90, 169, .1);
    position: relative;
    margin: -32px -32px -32px -32px;
    &:before {
      height: 50%;
      content: "";
      background: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0));
      border-radius: 8px 8px 0 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    img {
      width: 100%;
      border-radius: 8px 8px 8px 8px;
    }
    &__text {
      padding: 32px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      h1 {
        font: 500 32px/1.2 $primary-font;
        padding: 0 0 10px 0;
      }
    }
    &__row {
      align-items: center;
      display: flex;
    }
    &__date {
      font: 12px/1.2 $primary-font;
      padding: 0 0 0 10px;
      display: inline-block;
    }
  }
  &__body {
    padding-top: 24px;

    video {
      max-width: 560px;
      max-height: 315px;
      width: 100%;
      height: 100%;
    }

    audio {
      max-width: 560px;
      width: 100%;
    }
  }
  &__body + &__bottom {
    margin: -32px 0 0 0;
  }
  &__bottom {
    background: $elements-color;
    border-top: 1px solid $secondary-border-color;
    padding: 25px 32px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    &__sep {
      width: calc(100% + 30px);
      border-top: 1px solid $secondary-border-color;
      margin: 15px -15px;
      clear: both;
      display: none;
    }
  }
  &--tight {
    width: 66.198%;
    float: left;
  }
  &--toggle {
    opacity: 0;
    visibility: hidden;
    background: $elements-color;
    transition: all $primary-transition;
    transform: translateY(-10px);
    width: 100%;
    position: absolute;
    z-index: 2;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.block__bg {
  overflow: hidden;
  position: absolute;
  margin-top: -56px;
  left: 0;
  right: 0;
  z-index: -1;
  &:after {
    height: 50%;
    content: "";
    background: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__image {
    height: 330px;
    background-size: 100% 330px;
    filter: blur(15px);
  }
}

.site {
  &_search {
    margin: 0 0 32px 0;
    gap: 15px 25px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    &__btn {
      background: none;
      padding: 0 15px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      fa-icon {
        color: rgba(0, 0, 0, .54);
        font-size: 18px;
      }
    }
    &__clear-btn {
      background: none;
      position: absolute;
      top: 7px;
      left: -20px;
      fa-icon {
        color: rgba(0, 0, 0, .54);
      }
    }
    &__wrap {
      gap: 10px;
      display: flex;
      flex-flow: row wrap;
    }
    &__no-wrap {
      display: flex;
      flex-flow: row nowrap;
    }
  }
  &_toggle {
    color: $deco-color;
    text-decoration: none;
    padding: 0 18px 0 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;
}

.rotate svg {
  transition: transform $primary-transition;
}

.rotate-180 svg {
  transform: rotate(180deg);
}

.range-width {
  max-width: 70px !important;
}

.custom-slider .ngx-slider {
  margin-top: 29px;

  .ngx-slider-bar {
    background: $gallery;
    height: 4px;
  }

  .ngx-slider-selection {
    background: $gargoyle-gas;
  }

  .ngx-slider-pointer {
    width: 14px;
    height: 14px;
    top: -6px;
    background-color: white;
    border-radius: 14px;
    border: 2px solid $gargoyle-gas;
  }

  .ngx-slider-pointer:after {
    display: none;
  }

  .ngx-slider-bubble {
    bottom: 30px;
  }

  .ngx-slider-limit {
    font-weight: bold;
    color: $gargoyle-gas;
  }

  .ngx-slider-tick {
    display: none;
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: $gargoyle-gas;
    top: -1px;
  }

  .ngx-slider-tick.ngx-slider-selected {
    background: $gargoyle-gas;
  }
}
